.App {
  text-align: center;
  display: flex;
  align-items: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 20px;
  user-select: none;
 
 
}
.front, .back {
}
.front {
  transform: rotateY(0deg);
 transition: 300ms;
 
 
}
.back {
 transform: rotateY(180deg);
 transition: 300ms;
 
}